
<div class="login-body">
    <div class="login-panel"></div>
    <div class="login-content mt-5">
        <h1><span>CONNEXION</span> A  ATA NDELE Malish</h1>
        <p-toast></p-toast>
        <div *ngIf="invalidLogin" class="alert alert-danger">Utilisateur ou mot de passe invalid</div>
        <form [formGroup]="loginForm">
            <div class="login-input-wrapper ">
                <label for="" class="block text-900 font-medium mb-2 ">Utilisateur</label>
                <input type="text"
                autocomplete="off"
                id="user"
                formControlName="user"
                placeholder="Saisie utilisateur" 
                pInputText>
                <i class="pi pi-user mt-1"></i>
                <small
                class="p-error"
                *ngIf="
                loginForm.controls['user'].dirty &&
                loginForm.hasError('required', 'user')
                ">* utilisateur obligatoire.</small>
            </div>
            
            <div class="login-input-wrapper">
                <label for="" class="block text-900 font-medium mb-2">Mot de passe</label>
                <input 
                type="password"
                autocomplete="off" 
                id="password"
                formControlName="password"
                placeholder="Saisie mot de passe"
                pInputText>
                <i class="pi pi-lock mt-1"></i>
                <small
                class="p-error"
                *ngIf="
                loginForm.controls['password'].dirty &&
                loginForm.hasError('required', 'password')
                ">* mot de passe obligatoire.</small>
            </div>
            
            <button 
            (click)="connect()"
            pButton type="button"
            label="Connexion">
            <i class="pi pi-unlock ">
            </i></button>  
            
        </form>
    </div>
</div>

<router-outlet></router-outlet>