.button-container{
    display: flex;
    justify-content: flex-start;
}

.number{
    text-align: right;
}

.input-container {
    display: flex;
    justify-content: flex-end;
}

.ml{
    margin-left: 300px;
}