<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple 
                        label="Ajouter" icon="pi pi-plus" 
                        class="p-button-primary" 
                        (click)="ouvrirDialog()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            
            <p-table #dt 
            [columns]="cols"
            responsiveLayout="scroll" 
            [globalFilterFields]="['name','country.name']" 
            [rows]="10" 
            [paginator]="true" 
            [rowsPerPageOptions]="[10,20,30]" 
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            selectionMode="multiple" 
            [rowHover]="true"
            [value]="portefeuilles"
            dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Gestion de portefeuille</h5>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Recherche..."  class="w-full sm:w-auto"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" >
                <tr>
                    <th pSortableColumn="title">#<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Client <p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Montant <p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Monnaie <p-sortIcon field="title"></p-sortIcon></th>
                    <!-- <th pSortableColumn="title">Dépot <p-sortIcon field="title"></p-sortIcon></th>
                        <th pSortableColumn="title">Retrait <p-sortIcon field="title"></p-sortIcon></th>
                        <th pSortableColumn="title">Solde <p-sortIcon field="title"></p-sortIcon></th>-->
                        <th pSortableColumn="title">Créer le <p-sortIcon field="title"></p-sortIcon></th> 
                        <th pSortableColumn="title">Créer par <p-sortIcon field="title"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-portefeuille let-rowIndex="rowIndex">
                    <tr>
                        <td style="width:7%; min-width:7rem;">
                            <span class="p-column-title">#</span>
                            {{rowIndex+1}}
                        </td>
                        <td style="width:15%; min-width:20rem;">
                            <span class="p-column-title">clientId</span>
                            {{portefeuille.client}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Montant</span>
                            {{portefeuille.montant}}
                        </td>
                        <td style="width:10%; min-width:10rem;">
                            <span class="p-column-title">Monnaie</span>
                            {{portefeuille.monnaie}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Creer le</span>
                            {{portefeuille.created | date:"dd/MM/yyyy"}}
                        </td>
                        <td style="width:20%; min-width:15rem;">
                            <span class="p-column-title">Creer par</span>
                            
                        </td>
                        
                        <td>
                            <div class="flex">
                                <button pButton 
                                pRipple icon="pi pi-pencil" 
                                class="p-button-rounded p-button-success mr-2"
                                (click)="find(portefeuille.id)"  
                                ></button>
                                <button pButton pRipple 
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-warning"
                                (click)="deleteSelected(portefeuille.id)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog [(visible)]="portefeuilleDialog" 
[style]="{width: '500px'}"
header="Details Portefeuille" 
[modal]="true" class="p-fluid">
<ng-template pTemplate="content">
    <form [formGroup]="portefeuilleForm">
        <div class="field">
            <label for="name">Client</label>
            <div class="field">
                <p-dropdown
                placeholder="Sélectionner un client " 
                [filter]="true"
                [options]="clients"
                formControlName="clientId"
                id="clientId"
                optionLabel="nom"
                filterBy="name"
                appendTo="body"
                [showClear]="true">
            </p-dropdown>
        </div>
        <span class="p-error" *ngIf="portefeuilleForm.controls['clientId'].dirty
        && portefeuilleForm.hasError('required','clientId')">
        * client est obligatoire
    </span>
</div>
<div class="field">
    <label for="monnaieId">Monnaie</label>
    <div class="field">
        <p-dropdown
        placeholder="Sélectionner une monnaie " 
        [filter]="true"
        [options]="monnaies"
        optionLabel="devise"
        formControlName="monnaieId"
        id="monnaieId"
        filterBy="devise"
        appendTo="body"
        [showClear]="true">
    </p-dropdown>
</div>
<span class="p-error" *ngIf="portefeuilleForm.controls['monnaieId'].dirty
&& portefeuilleForm.hasError('required','monnaieId')">
* monnaie est obligatoire
</span>
</div>

<div class="field">
    <label for="name">Montant</label>
    <input type="text"
    pInputText 
    id="montant"
    formControlName="montant"
    autofocus
    placeholder="saisir le montant"/>
    <span class="p-error"
    *ngIf="portefeuilleForm.controls['montant'].dirty &&
    portefeuilleForm.hasError('required','montant')">
    * montant est obligatoire
</span>
</div>
</form>
</ng-template>

<ng-template pTemplate="footer">
    <div class="button-container">
        <button pButton pRipple 
        label="Fermer" icon="pi pi-times" 
        class="p-button-danger" 
        (click)="fermerDialog()"></button>
        
        <button pButton pRipple 
        label="Enregistrer" icon="pi pi-save" 
        class="p-button-success" 
        (click)="save()"></button>
    </div>
</ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="portefeuille">Etes-vous sûr de vouloir supprimer <b>{{portefeuille.montant}}</b> ?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="hideSelect()"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="delete(portefeuille.id)"></button>
    </ng-template>
</p-dialog>