<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple 
                        label="Ajouter un utilisateur" icon="pi pi-plus" 
                        class="p-button-primary" 
                        (click)="ouvrirDialog()"></button>
                    </div>
                    
                    <div class="my-2 ml-3">
                        <button pButton pRipple 
                        label="Ajouter un rôle" icon="pi pi-plus" 
                        class="p-button-success" 
                        (click)="ouvrirDialogRole()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-toast></p-toast>
            <p-table 
            #dt 
            [columns]="cols"
            responsiveLayout="scroll" 
            [globalFilterFields]="['name','country.name']" 
            [rows]="10" 
            [paginator]="true" 
            [rowsPerPageOptions]="[10,20,30]" 
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            selectionMode="multiple" 
            [rowHover]="true"
            [value]="utilisateurs"
            dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Gestion des utilisateurs</h5>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Recherche..."  class="w-full sm:w-auto"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="title">#<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">location<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Rôle<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Nom <p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Post-nom<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Status<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Créer le<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Créer par<p-sortIcon field="title"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
                <tr>
                    <td style="width:7%; min-width:5rem;">
                        <span class="p-column-title">numero</span>
                        {{rowIndex+1}}
                    </td>
                    <td style="width:8%; min-width:10rem;">
                        <span class="p-column-title">location</span>
                        {{user.locationId}}
                    </td>
                    <td style="width:10%; min-width:10rem;">
                        <span class="p-column-title">Rôle</span>
                        {{user.roleId}}
                    </td>
                    <td style="width:14%; min-width:15rem;">
                        <span class="p-column-title">nom</span>
                        {{user.nom}}
                    </td>
                    <td style="width:10%; min-width:11rem;">
                        <span class="p-column-title">Post-nom</span>
                        {{user.postnom}}
                    </td>
                    
                    <td style="width:10%; min-width:10rem;">
                        <span class="p-column-title">Status</span>
                        <p-checkbox
                        [binary]="true"
                        [(ngModel)]="utilisateurs[rowIndex].active"
                        inputId="binary"
                        (onChange)="active($event,rowIndex)">
                    </p-checkbox>
                </td>
                <td style="width:10%; min-width:10rem;">
                    <span class="p-column-title">creer le</span>
                </td>
                
                
                <td style="width:14%; min-width:10rem;">
                    <span class="p-column-title">creer par</span>
                    
                </td>
                
                <td>
                    <div class="flex">
                        <button pButton 
                        pRipple icon="pi pi-pencil" 
                        class="p-button-rounded p-button-success mr-2" 
                        (click)="find(article.id)"
                        ></button>
                        <button pButton pRipple 
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-warning"
                        (click)="deleteSelected(article.id)"
                        ></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>
</div>
<!-- Utilisateur dialog -->
<p-dialog [(visible)]="utilisateurDialog" 
[style]="{width: '500px'}"
header="Details Utilisateur" 
[modal]="true" class="p-fluid">
<ng-template pTemplate="content">
    
    <form [formGroup]="utilisateurForm">
        
        <div class="field">
            <label for="locationId">Location</label>
            <p-dropdown 
            formControlName="locationId" 
            [options]="locations" 
            optionLabel="designation"
            [filter]="true"
            [autoDisplayFirst]="false"
            filterBy="designation"
            id="locationId"
            appendTo="body">
        </p-dropdown>
        <small
        class="p-error"
        *ngIf="
        utilisateurForm.controls['locationId'].dirty &&
        utilisateurForm.hasError('required', 'locationId')"
        >* location obligatoire.</small>
    </div>
    
    <div class="field">
        <label for="roleId">Rôle</label>
        <p-dropdown 
        formControlName="roleId" 
        [options]="roles" 
        optionLabel="libelle"
        [filter]="true"
        [autoDisplayFirst]="false"
        filterBy="libelle"
        id="roleId"
        appendTo="body">
    </p-dropdown>
    <small
    class="p-error"
    *ngIf="
    utilisateurForm.controls['roleId'].dirty &&
    utilisateurForm.hasError('required', 'roleId')"
    >* role obligatoire.</small>
</div>

<div class="field">
    <label for="nom">Nom</label>
    <input type="text"
    pInputText
    id="nom"
    formControlName="nom"
    autofocus
    placeholder="saisir la nom"/>
    <small
    class="p-error"
    *ngIf="
    utilisateurForm.controls['nom'].dirty &&
    utilisateurForm.hasError('required', 'nom')
    ">* nom obligatoire.</small>
</div>

<div class="field">
    <label for="postnom">Post-nom</label>
    <input type="text"
    pInputText
    id="postnom"
    formControlName="postnom"
    autofocus
    placeholder="saisir la postnom"/>
    <small
    class="p-error"
    *ngIf="
    utilisateurForm.controls['postnom'].dirty &&
    utilisateurForm.hasError('required', 'postnom')
    ">* postnom obligatoire.</small>
</div>
<div class="field">
    <label for="utilisateur">Nom d'utilisateur</label>
    <input type="text"
    pInputText
    id="utilisateur"
    formControlName="utilisateur"
    autofocus
    placeholder="saisir la postnom"/>
    <small
    class="p-error"
    *ngIf="
    utilisateurForm.controls['utilisateur'].dirty &&
    utilisateurForm.hasError('required', 'utilisateur')
    ">* nom d'utilisateur obligatoire.</small>
</div>





</form>
</ng-template>

<ng-template pTemplate="footer">
    <div class="button-container">
        <button pButton pRipple 
        label="Fermer" icon="pi pi-times" 
        class="p-button-danger" 
        (click)="fermerDialog()"></button>
        
        <button pButton pRipple 
        label="Enregistrer" icon="pi pi-save" 
        class="p-button-success" 
        (click)="save()"></button>
    </div>
</ng-template>
</p-dialog>

<!-- Role dialog -->
<p-dialog [(visible)]="roleDialog" 
[style]="{width: '500px'}"
header="Details Rôle" 
[modal]="true" class="p-fluid">
<ng-template pTemplate="content">
    
    <form [formGroup]="roleForm">
        
        <div class="field">
            <label for="libelle">libellé</label>
            <input type="text"
            pInputText
            id="libelle"
            formControlName="libelle"
            autofocus
            placeholder="saisir le libelle"/>
            <small
            class="p-error"
            *ngIf="
            roleForm.controls['libelle'].dirty &&
            roleForm.hasError('required', 'libelle')
            ">* libelle obligatoire.</small>
        </div>
        
        
    </form>
</ng-template>

<ng-template pTemplate="footer">
    <div class="button-container">
        <button pButton pRipple 
        label="Fermer" icon="pi pi-times" 
        class="p-button-danger" 
        (click)="fermerDialogRole()"></button>
        
        <button pButton pRipple 
        label="Enregistrer" icon="pi pi-save" 
        class="p-button-success" 
        (click)="saveRole()"></button>
    </div>
</ng-template>
</p-dialog>



<p-dialog [(visible)]="deleteDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="utilisateur">Etes-vous sûr de vouloir supprimer <b>{{utilisateur.utilisateur}}</b> ?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="hideSelect()"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="delete(utilisateur.id)"></button>
    </ng-template>
</p-dialog>