<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <div class="card p-fluid">
                <h5>Options de recherche </h5>
                <div class="p-formgrid grid">
                    
                    <div class="field col-3">
                        <label htmlFor="email2">Article</label>
                        <p-dropdown
                        placeholder="Sélectionner un article " 
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"></p-dropdown>
                    </div>
                    <div class="field col-3">
                        <label htmlFor="email2">Status</label>
                        <p-dropdown
                        placeholder="Sélectionner un status " 
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"></p-dropdown>
                    </div>
                    
                </div>
            </div>
            
            <p-table #dt 
            [columns]="cols"
            responsiveLayout="scroll" 
            [globalFilterFields]="['name','country.name']" 
            [rows]="10" 
            [paginator]="true" 
            [rowsPerPageOptions]="[10,20,30]" 
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            selectionMode="multiple" 
            [rowHover]="true"
            [value]="stocks"
            dataKey="id">
            
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="tile">#<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Article <p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Quantité<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Seuil<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Location<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Status<p-sortIcon field="title"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-stock let-rowIndex="rowIndex">
                <tr>
                    
                    <td style="width:10%; min-width:10rem;">
                        <span class="p-column-title">#</span>
                        {{rowIndex+1}}
                    </td>
                    <td style="width:25%; min-width:15rem;">
                        <span class="p-column-title">Article</span>
                        {{stock.article}}
                    </td>
                    <td style="width:25%; min-width:15rem;">
                        <span class="p-column-title">Quantité</span>
                        {{stock.quantite}}
                    </td>
                    <td style="width:25%; min-width:15rem;">
                        <span class="p-column-title">Suil</span>
                        {{stock.seuil}}
                    </td>
                    <td style="width:25%; min-width:15rem;">
                        <span class="p-column-title">Location</span>
                        {{stock.location}}
                    </td>
                    <td style="width:25%; min-width:15rem; color: rgb(116, 197, 35);"  *ngIf="stock.quantite > stock.seuil">
                        <span class="p-column-title">Status</span>
                        IN STOCK
                    </td>
                    <td style="width:25%; min-width:15rem; color: rgb(223, 80, 255);"  *ngIf="stock.quantite == stock.seuil">
                        <span class="p-column-title">Status</span>
                        LOW STOCK
                    </td>
                    <td style="width:25%; min-width:15rem; color: red;"  *ngIf="stock.quantite < stock.seuil">
                        <span class="p-column-title">Status</span>
                        OUT OF STOCK
                    </td>
                    
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
</div>
