<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple 
                        label="Ajouter" icon="pi pi-plus" 
                        class="p-button-primary" 
                        (click)="ouvrirDialog()"></button>
                    </div>
                    <div class="my-2 ml-3" [hidden]="role === 'FACTURIER'">
                        <button pButton pRipple 
                        label="Vérification des dépenses" icon="pi pi-search" 
                        class="p-button-warning" 
                        (click)="ouvrirVDialog()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-toast></p-toast>
            <p-table 
            #dt 
            [columns]="cols"
            responsiveLayout="scroll" 
            [globalFilterFields]="['created','utilisateur']" 
            [rows]="10" 
            [paginator]="true" 
            [rowsPerPageOptions]="[10,20,30]" 
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            selectionMode="multiple" 
            [rowHover]="true"
            [value]="depenses"
            dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Gestion des dépenses</h5>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Recherche..."  class="w-full sm:w-auto"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="title">#<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Motif<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Montant<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Bénéficiaire<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Créer le<p-sortIcon field="title"></p-sortIcon></th>
                    <th pSortableColumn="title">Créer par<p-sortIcon field="title"></p-sortIcon></th>
                    <th [hidden]="role === 'FACTURIER'"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-depense let-rowIndex="rowIndex">
                <tr>
                    <td style="width:7%; min-width:5rem;">
                        <span class="p-column-title">numero</span>
                        {{rowIndex+1}}
                    </td>
                    <td style="width:25%; min-width:20rem;">
                        <span class="p-column-title">Motif</span>
                        {{depense.motif|uppercase}}
                    </td>
                    <td style="width:25%; min-width:10rem;">
                        <span class="p-column-title">Montant</span>
                        {{depense.montant | currency:"UGX "}}
                    </td>
                    <td style="width:25%; min-width:15rem;">
                        <span class="p-column-title">beneficiaire</span>
                        {{depense.beneficiaire|uppercase}}
                    </td>
                    <td style="width:25%; min-width:15rem;">
                        <span class="p-column-title">creer le</span>
                        {{depense.created | date:"dd/MM/yyyy"}}
                    </td>
                    <td style="width:25%; min-width:11rem;">
                        <span class="p-column-title">creer par</span>
                        {{depense.utilisateur|uppercase}}
                    </td>
                    
                    
                    <td [hidden]="role === 'FACTURIER'">
                        <div class="flex">
                            <button pButton 
                            pRipple icon="pi pi-pencil" 
                            class="p-button-rounded p-button-success mr-2" 
                            (click)="find(depense.id)"
                            ></button>
                            <button pButton pRipple 
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-warning"
                            (click)="deleteSelected(depense.id)"
                            ></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
</div>

<p-dialog [(visible)]="depenseDialog" 
[style]="{width: '500px'}"
header="Details Dépense" 
[modal]="true" class="p-fluid">
<ng-template pTemplate="content">
    
    <form [formGroup]="depenseForm">
        
        <div class="field">
            <label for="motif">Motif</label>
            <textarea rows="2" 
            cols="10"
            id="motif"
            formControlName="motif"
            placeholder="saisir le motif de la dépense" 
            pInputTextarea></textarea>
            <small
            class="p-error"
            *ngIf="
            depenseForm.controls['motif'].dirty &&
            depenseForm.hasError('required', 'motif')
            ">* motif obligatoire.</small>
        </div>
        
        <div class="field">
            <label for="montant">Montant</label>
            <p-inputNumber 
            type="number"
            id="montant"
            formControlName="montant"
            placeholder="saisir la montant"></p-inputNumber>
            <small
            class="p-error"
            *ngIf="
            depenseForm.controls['montant'].dirty &&
            depenseForm.hasError('required', 'montant')
            ">* montant obligatoire.</small>
        </div>
        
        <div class="field">
            <label for="beneficiaire">Bénéficiaire</label>
            <input type="text"
            pInputText 
            id="beneficiaire"
            formControlName="beneficiaire"
            placeholder="saisir le beneficiaire"/>
            <small
            class="p-error"
            *ngIf="
            depenseForm.controls['beneficiaire'].dirty &&
            depenseForm.hasError('required', 'beneficiaire')
            ">* beneficiaire obligatoire.</small>
        </div>
    </form>
</ng-template>

<ng-template pTemplate="footer">
    <div class="button-container">
        <button pButton pRipple 
        label="Fermer" icon="pi pi-times" 
        class="p-button-danger" 
        (click)="fermerDialog()"></button>
        
        <button pButton pRipple 
        label="Enregistrer" icon="pi pi-save" 
        class="p-button-success" 
        (click)="save()"></button>
    </div>
</ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="depense">Etes-vous sûr de vouloir supprimer <b>{{depense.id}}</b> ?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="hideSelect()"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="delete(depense.id)"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="verificationDialog" 
[style]="{width: '500px'}"
header="Details Vérification" 
[modal]="true" class="p-fluid">
<ng-template pTemplate="content">
    <form [formGroup]="verificationForm">
        
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-6">
                <label for="date1">Date 1</label>
                <p-calendar
                [showIcon]="true" 
                formControlName="date1"
                id="date1"
                dateFormat="yy-mm-dd"
                placeholder="Sélectionner la date 1"
                appendTo="body"
                inputId="icon">
            </p-calendar>
            <span class="p-error" *ngIf="verificationForm.controls['date1'].dirty
            && verificationForm.hasError('required','date1')">
            * date 1 obligatoire
        </span>
    </div>
    
    <div class="field col-12 md:col-6">
        <label for="date2">Date 2 </label>
        <p-calendar
        [showIcon]="true" 
        formControlName="date2"
        id="date2"
        dateFormat="yy-mm-dd"
        appendTo="body"
        placeholder="Sélectionner la date "
        inputId="icon">
    </p-calendar>
    <span class="p-error"
    *ngIf="verificationForm.controls['date2'].dirty &&
    verificationForm.hasError('required','date2')">
    * date 1 obligatoire
</span>
</div>
</div>
<h4 style="color: brown;"> {{montant.montant | currency:"UGX "}}</h4>
</form>
</ng-template>

<ng-template pTemplate="footer">
    <div class="button-container">
        <button pButton pRipple 
        label="Fermer" icon="pi pi-times" 
        class="p-button-danger" 
        (click)="fermerVDialog()"></button>
        
        <button pButton pRipple 
        label="Vérifier" icon="pi pi-search" 
        class="p-button-warning" 
        (click)="getAmount()"></button>
    </div>
    
</ng-template>
</p-dialog>