<div class="grid">
    <div class="col-12 md:col-12">
        <div class="card px-6 py-6">
            <form [formGroup]="livraisonForm">
                <div class="card p-fluid">
                    <h5>Entête de livraison </h5>
                    <div class="p-formgrid grid">
                        <p-toast></p-toast>
                        <div class="field col-4">
                            <label htmlFor="email2">Numéro Commande</label>
                            <p-dropdown
                            placeholder="Sélectionner un numero " 
                            [filter]="true"
                            [options]="commandes"
                            [autoDisplayFirst]="false"
                            (onChange)="getCommande($event)"
                            optionLabel="numeroCommande"
                            formControlName="numeroCommande"
                            id="numeroCommande"
                            filterBy="numeroCommande"
                            [showClear]="true"></p-dropdown>
                        </div>
                        
                        <!-- <div class="field col-3">
                            <label htmlFor="email2">Location</label>
                            <p-dropdown
                            placeholder="Sélectionner une Location " 
                            [filter]="true"
                            [options]="locations"
                            [autoDisplayFirst]="false"
                            formControlName="locationId"
                            id="locationId"
                            optionLabel="designation"
                            filterBy="designation"
                            [showClear]="true"></p-dropdown>
                        </div> -->
                        
                        <!-- <div class="field col-3">
                            <label htmlFor="name2">Numéro Livraison</label>
                            <input pInputText
                            id="numeroLivraison"  
                            formControlName="numeroLivraison"
                            type="text" />
                        </div> -->
                        
                        <div class="field col-4">
                            <label htmlFor="email2">Date Livraison</label>
                            <input pInputText 
                            id="dateLivraison"  
                            formControlName="dateLivraison"
                            disabled type="text" />
                        </div>
                        
                        <div class="field col-4">
                            <label htmlFor="email2">Fournisseur</label>
                            <input pInputText 
                            id="fournisseur" 
                            formControlName="fournisseur"
                            disabled type="text" />
                        </div>
                        <!-- <div class="field col-2">
                            <label htmlFor="email2">Monnaie</label>
                            <input pInputText
                            id="monnaieId" 
                            formControlName="monnaieId"
                            disabled type="text" />
                        </div> -->
                        
                        <div class="field col-12">
                            <label htmlFor="email2">Description</label>
                            <textarea rows="5" 
                            cols="30" 
                            formControlName="observation"
                            id="observation"
                            placeholder="Your Message"
                            pInputTextarea></textarea>
                        </div>
                    </div>
                </div>
                
                
                <p-table #dt
                [columns]="cols"
                [value]="newRowsList.controls"
                [globalFilterFields]="['name','country.name']"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]"
                [showCurrentPageReport]="true"
                [rowHover]="true"
                responsiveLayout="scroll"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                selectionMode="multiple"
                dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">
                            Lignes de livraison
                        </h5>
                        <div class="my-2">
                            <button (click)="addNewRows()"
                            pButton
                            pRipple
                            label="Ajouter une ligne"
                            icon="pi pi-plus"
                            class="p-button-primary"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th >
                            N°
                        </th>
                        <th >
                            Article
                        </th>
                        <th>
                            Quantité commandée
                        </th>
                        <th >
                            Emballage
                        </th>
                        <th>
                            Livraison actuelle 
                        </th>
                        <th >
                            Prix unitaire
                        </th>
                        <th>
                            Quantité livrée
                        </th>
                        <th>
                            Quantité restante
                        </th>
                        
                        <th >
                            Prix totale
                        </th>
                        
                        <th>Retirer</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowIndex="rowIndex">
                    <ng-container formArrayName="livraisonDetails">
                        <tr [formGroupName]="rowIndex">
                            <td>
                                {{rowIndex + 1}}
                            </td>
                            <td style="width:10%; min-width:8rem;">
                                <span class="p-column-title">Article</span>
                                <p-dropdown
                                placeholder="Sélectionner un article " 
                                [filter]="true"
                                [options]="articles"
                                formControlName="articleId"
                                [autoDisplayFirst]="false"
                                id="articleId"
                                optionLabel="article"
                                (onChange)="getCommandeDetails($event, rowIndex)"
                                filterBy="name"
                                appendTo="body"
                                [showClear]="true"></p-dropdown>
                            </td>
                            <td style="width:10%; min-width:8rem;">
                                <span class="p-column-title">quantite</span>
                                <p-inputNumber
                                [disabled]="true" 
                                formControlName="quantite"
                                id="quantite"
                                [minFractionDigits]="2">
                            </p-inputNumber>
                        </td>
                        <td style="width:5%; min-width:5rem;">
                            <span class="p-column-title">Emballage</span>
                            <input 
                            type="text"
                            id="emballage"
                            pInputText
                            formControlName="emballage"
                            />
                        </td>
                        <td style="width:5%; min-width:8rem;">
                            <span class="p-column-title">Livraison actuelle</span>
                            <p-inputNumber 
                            id="livraisonActu"
                            (onInput)="verify(rowIndex)"
                            formControlName="livraisonActu"
                            [minFractionDigits]="2">
                        </p-inputNumber>
                        
                    </td>
                    <td style="width:14%; min-width:8rem;">
                        <span class="p-column-title">PU</span>
                        <p-inputNumber 
                        id="prixUnit"
                        (onInput)="calculation(rowIndex)"
                        formControlName="prixUnit"
                        [minFractionDigits]="2">
                    </p-inputNumber>
                    
                </td>
                <td style="width:3%; min-width:8rem;">
                    <span class="p-column-title">Qte livrée</span>
                    <p-inputNumber [disabled]="true"
                    id="quantiteLivree"
                    formControlName="quantiteLivree"
                    [minFractionDigits]="2">
                </p-inputNumber>
                
            </td>
            <td style="width:3%; min-width:8rem;">
                <span class="p-column-title">Qte restante</span>
                <p-inputNumber
                [disabled]="true" 
                id="resteQuantite"
                formControlName="resteQuantite"
                inputId="locale-user"
                [minFractionDigits]="2">
            </p-inputNumber>
            
        </td>
        
        <td style="width:14%; min-width:8rem;">
            <span class="p-column-title">PT</span>
            <p-inputNumber
            [disabled]="true"
            id="prixTotal"
            formControlName="prixTotal"
            [minFractionDigits]="2">
        </p-inputNumber>
        
    </td>
    
    <td>
        <div class="flex">
            <button pButton
            pRipple
            icon="pi pi-trash"
            (click)="Remove(rowIndex)"
            class="p-button-rounded p-button-warning"></button>
        </div>
    </td>
</tr>
</ng-container>
</ng-template>
</p-table>
<div class="p-fluid mt-2">
    <div class="p-formgrid grid">
        <div class="card button-container my-3">
            <div>
                <button pButton pRipple 
                label="Annuler" icon="pi pi-times" 
                class="p-button-danger"></button>
            </div>
            <div  class="ml-3">
                <button pButton pRipple 
                label="Enregistrer(Sauvagarder)" icon="pi pi-check" 
                (click)="save()"
                class="p-button-primary"></button>
            </div>
            <div  class="ml-3">
                <button pButton pRipple 
                label="Enregistrer et Imprimer(B.L)"
                (click)="savePrint()"
                icon="pi pi-print" 
                class="p-button-success"></button>
            </div>
        </div>
        
        <div class="field col-3 ml">
            <label htmlFor="name2">Total Livraison</label>
            <p-inputNumber
            [disabled]="true"
            id="totalLivraison"
            formControlName="totalLivraison"
            [minFractionDigits]="2">
        </p-inputNumber>
    </div>
</div>
</div>
</form>
</div>
</div>
</div>


